<a href="https://colab.research.google.com/github/K-Wolfe-hub/spds_Capstone_2/blob/main/Capstone_2_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This workbook is the 3rd section of my capstone 2 project. The data is following on Capstone_2_EDA located at https://colab.research.google.com/drive/1rsXtyX8vLm7IBdbsC0HsTxfX5u9mFj0R?authuser=1. \\
The intention of this notebook is to: \\


*   Create dummy or indicator features for categorical variables
*   Standardize the magnitude of numeric features using a scaler 
*   Split your data into testing and training datasets

In [1]:
import pandas as pd
import pathlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
#import post-EDA data
real_data = pd.read_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/sfh_data2model.csv')
real_data.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  Unnamed: 0.1  ...  bld_val_per_ft2  bld_ratio_neighbor
0           0           363  ...        26.341307            0.333350
1           1           926  ...       101.623520            1.640098

[2 rows x 57 columns]

In [4]:
cols = real_data.columns
print(cols)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'acct', 'school_dist',
       'Neighborhood_Code', 'Neighborhood_Grp', 'Market_Area_1',
       'Market_Area_2', 'center_code', 'yr_impr', 'bld_ar', 'land_ar',
       'Cap_acct', 'shared_cad', 'land_val', 'bld_val', 'x_features_val',
       'assessed_val', 'tot_appr_val', 'tot_mkt_val', 'prior_land_val',
       'prior_bld_val', 'prior_x_features_val', 'prior_tot_appr_val',
       'prior_tot_mkt_val', 'new_construction_val', 'tot_rcn_val', 'protested',
       'jurs', 'Hearing_Type', 'Agent_Code', 'Initial_Appraised_Value',
       'Initial_Market_Value', 'Final_Appraised_Value', 'Final_Market_Value',
       'appeal_reduction', 'appeal_red_pct', 'ATR ', 'FPD ', 'FPM ', 'FPO ',
       'FPW ', 'FXA ', 'FXT ', 'LLR ', 'MAS ', 'REL ', 'RMB ', 'RMF ', 'RMH ',
       'RMR ', 'RMT ', 'STY ', 'land_val_per_ft2', 'land_ratio_neighbor',
       'bld_val_per_ft2', 'bld_ratio_neighbor'],
      dtype='object')

There are two seperate questions in this project. The first is an attempt to model the single family home values.

In [5]:
#These are the value related columns that will be split in our train_test_split step for predicted value
y_val_cols = ['land_val', 'bld_val','assessed_val', 'tot_appr_val', 'tot_mkt_val']
X_val_cols = ['bld_ar', 'land_ar','ATR ', 'FPD ', 'FPM ', 'FPO ',
       'FPW ', 'FXA ', 'FXT ', 'LLR ', 'MAS ', 'REL ', 'RMB ', 'RMF ', 'RMH ',
       'RMR ', 'RMT ', 'STY ','land_ratio_neighbor', 'bld_ratio_neighbor']

In [6]:
y_val = real_data[y_val_cols]
X_val = real_data[X_val_cols]

In [7]:
X_val_train, X_val_test, y_val_train, y_val_test = train_test_split(X_val, y_val, test_size=0.33, random_state=42)

In [8]:
ysscale = StandardScaler()

In [9]:
xsscale = StandardScaler()

In [10]:
ysscale.fit(y_val_train)
y_val_train_scaled = ysscale.transform(y_val_train)
y_val_test_scaled = ysscale.transform(y_val_test)

In [11]:
xsscale.fit(X_val_train)
X_val_train_scaled = xsscale.transform(X_val_train)
X_val_test_scaled = xsscale.transform(X_val_test)

The second goal is to predict protests and their successfulness in the form of appeal_reduction.

In [12]:
#hearing related columns for train_test_split
y_hear_cols = ['protested','appeal_reduction', 'appeal_red_pct', 'Final_Appraised_Value', 'Final_Market_Value']
X_hear_cols = ['bld_ar', 'land_ar',
       'Cap_acct', 'shared_cad', 'land_val', 'bld_val', 'x_features_val',
       'assessed_val', 'tot_appr_val', 'tot_mkt_val', 'prior_land_val',
       'prior_bld_val', 'prior_x_features_val', 'prior_tot_appr_val',
       'prior_tot_mkt_val', 'new_construction_val', 'tot_rcn_val', 
       'Hearing_Type', 'Agent_Code', 'Initial_Appraised_Value',
       'Initial_Market_Value','ATR ', 'FPD ', 'FPM ', 'FPO ',
       'FPW ', 'FXA ', 'FXT ', 'LLR ', 'MAS ', 'REL ', 'RMB ', 'RMF ', 'RMH ',
       'RMR ', 'RMT ', 'STY ','land_ratio_neighbor', 'bld_ratio_neighbor']

In [13]:
y_hear = real_data[y_hear_cols]
X_hear = real_data[X_hear_cols]

In [14]:
y_hear_dm = pd.get_dummies(y_hear,columns=['protested'],drop_first=True)
y_hear_dm.head()

   appeal_reduction  appeal_red_pct  ...  Final_Market_Value  protested_Y
0               0.0        0.000000  ...            102415.0            1
1               0.0        0.000000  ...            343144.0            0
2               0.0        0.000000  ...            349463.0            0
3           25000.0       16.198004  ...            129340.0            1
4               0.0        0.000000  ...            153590.0            0

[5 rows x 5 columns]

In [15]:
X_hear_dm = pd.get_dummies(X_hear,columns=['Cap_acct', 'shared_cad','Hearing_Type', 'Agent_Code'],drop_first=True)
X_hear_dm.head()

   bld_ar  land_ar  land_val  ...  Hearing_Type_N  Hearing_Type_R  Agent_Code_Owner
0    3888        0       0.0  ...               0               0                  0
1    2534     2069   85630.0  ...               1               0                  0
2    2537     5000  150000.0  ...               1               0                  0
3    1312     5000  129240.0  ...               0               0                  0
4    1496     5000  150000.0  ...               1               0                  0

[5 rows x 41 columns]

In [22]:
X_hear_dm_cols = X_hear_dm.columns
y_hear_dm_cols = y_hear_dm.columns

In [16]:
X_hear_train, X_hear_test, y_hear_train, y_hear_test = train_test_split(X_hear_dm, y_hear_dm, test_size=0.33, random_state=42)

In [17]:
ysscale2 = StandardScaler()

In [18]:
xsscale2 = StandardScaler()

In [19]:
ysscale2.fit(y_hear_train)
y_hear_train_scaled = ysscale2.transform(y_hear_train)
y_hear_test_scaled = ysscale2.transform(y_hear_test)
xsscale2.fit(X_hear_train)
X_hear_train_scaled = xsscale2.transform(X_hear_train)
X_hear_test_scaled = xsscale2.transform(X_hear_test)

In [23]:
#create DataFrames to allow me to write the splits to the data folder
X_hear_train_scaled_df = pd.DataFrame(X_hear_train_scaled,columns=X_hear_dm_cols)
X_hear_test_scaled_df = pd.DataFrame(X_hear_test_scaled,columns=X_hear_dm_cols)
y_hear_train_scaled_df = pd.DataFrame(y_hear_train_scaled,columns=y_hear_dm_cols)
y_hear_test_scaled_df = pd.DataFrame(y_hear_test_scaled,columns=y_hear_dm_cols)
X_val_train_scaled_df = pd.DataFrame(X_val_train_scaled,columns=X_val_cols)
X_val_test_scaled_df = pd.DataFrame(X_val_test_scaled,columns=X_val_cols)
y_val_train_scaled_df = pd.DataFrame(y_val_train_scaled,columns=y_val_cols)
y_val_test_scaled_df = pd.DataFrame(y_val_test_scaled,columns=y_val_cols)
X_hear_test_scaled_df.head(2)

     bld_ar   land_ar  ...  Hearing_Type_R  Agent_Code_Owner
0 -0.572594 -0.237196  ...       -0.001679          -0.463422
1  1.498577  0.500286  ...       -0.001679          -0.463422

[2 rows x 41 columns]

In [24]:
#write the final files to the data folder
X_hear_train_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/X_hear_train.csv')
X_hear_test_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/X_hear_test.csv')
y_hear_train_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/y_hear_train.csv')
y_hear_test_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/y_hear_test.csv')
X_val_train_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/X_val_train.csv')
X_val_test_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/X_val_test.csv')
y_val_train_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/y_val_train.csv')
y_val_test_scaled_df.to_csv('gdrive/My Drive/Springboard Capstone 2/HCAD_Data/y_val_test.csv')